.mission{
  padding: 60px 0;

  .mission-wrapper{
    max-width: 1050px;
    margin: 0 auto;
    background-color: #f7f7f7;
    padding:40px 30px;
    border-radius: 16px;
    .nav{
        background-color: #e9ecf0;
        border-radius: 16px;
        padding: 22px 0 30px 0;
        .nav-link {
            background-color: #e9ecf0;
            // margin: 4px 0;
            width: 240px;
            padding: 18px 10px;
            border-radius: 0px;
            color: $blackColor;
            font-size: 18px;
            font-weight: 500;
            overflow: hidden;
        }
        .active{
            background-color: #fff;
            color: $primaryColor;
            position: relative;
            border-left: 5px solid $primaryColor;
            // &::after{
            //   position: absolute;
            //   content: '';
            //   height: 97%;
            //   width: 5px;
            //   background-color: $primaryColor;
            //   left: 0;
            //   top: 50%;
            //   transform: translateY(-50%);
            // }
            &::before{
              position: absolute;
              content: '';
              height: 15px;
              width: 15px;
              background-color: $primaryColor;
              top: 50%;
              left: -9px;
              transform: translateY(-50%) rotate(-45deg);
            }
        }
    }

    .tab-content{
      .tab-pane{
        width: 100%;
        .tab-pannel-content{
          h4{
            font-size: 26px;
            font-weight: 600;
            color: $blackColor;
            line-height: 36px;
          }
          p{
            color: $blackColor;
          }
          ul{
            padding-left: 20px;
            li{
              list-style:square;
              padding-top: 6px;
            }
          }
        }
        .tab-pannel-img{
          img{
            max-height: 400px;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}