.course-category {
  padding-bottom: 100px;
  margin-top: -80px;
  .course-category-wrapper {
    .swiper-wrapper {
      padding: 10px 5px;
      .swiper-slide {
        // border: 1px solid #c3c3c350;
        // margin: 5px;
        box-shadow: rgba(0, 0, 0, 0.091) 0px 1px 4px;
        background-color: #6471e6;
        border-radius: 16px;
        &:nth-child(odd){
            background-color: $whiteColor;
            .course-category-item{
                h4{
                    color: $blackColor;
                }
            }
        }
        &:hover {
            box-shadow: rgba(60, 64, 67, 0.147) 0px 1px 2px 0px, rgba(60, 64, 67, 0.136) 0px 2px 6px 2px;
            border-radius: 16px;
            transition: $transition;
            transform: scale(1.05);
          }
        .course-category-item {
          height: 160px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;
          cursor: pointer;
          .icon-img {
            padding-bottom: 10px;
            img {
              max-width: 50px;
              max-height: 50px;
              object-fit: contain;
            }
          }
          h4 {
            font-size: 17px;
            line-height: 27px;
            font-weight: 500;
            color: $whiteColor;
          }
        }
      }
    }
    .swiper-button-prev {
      height: 40px;
      width: 40px;
      background-color: $whiteColor;
      border-radius: 50%;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      transform: translateY(-50%);
      left: 15px;
      &::after {
        font-size: 16px;
        color: $blackColor;
      }
    }
    .swiper-button-next {
      height: 40px;
      width: 40px;
      background-color: $whiteColor;
      border-radius: 50%;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      transform: translateY(-50%);
      right: 15px;
      &::after {
        font-size: 16px;
        color: $blackColor;
      }
    }
  }
}


// Course Part
.course{
    margin: 10px 0 70px 0;
    background-image: url(../images/course-top-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    padding: 120px 0 220px 0;
    // &::after{
    //     position: absolute;
    //     content: '';
    //     height: 200px;
    //     width: 100%;
    //     bottom: -30px;
    //     left: 0;
    //     background: linear-gradient(180deg, #2170c400 8%, #2170c415 50%);
    // }

    .course-wrapper{
        padding-top: 100px;
        .course-wrapper-text{
            text-align: center;
            h3{
                font-size: 45px;
                font-weight: 600;
                color: $blackColor;
                line-height: 55px;
            }
            p{
                font-size: 17px;
                color: #626262;
                line-height: 27px;
                max-width: 600px;
                margin: 0 auto;
            }
        }

        .course-content{
            max-width: 1000px;
            margin: 0 auto;
            padding-top: 60px;
            
            .swiper-button-prev {
                height: 40px;
                width: 40px;
                background-color: $whiteColor;
                border-radius: 50%;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                transform: translateY(-50%);
                left: 15px;
                &::after {
                  font-size: 16px;
                  color: $blackColor;
                }
                &:hover{
                    background-color: $primaryColor;
                    transition: $transition;
                }
                &:hover::after{
                    color: $whiteColor;
                } 
              }
              .swiper-button-next {
                height: 40px;
                width: 40px;
                background-color: $whiteColor;
                border-radius: 50%;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                transform: translateY(-50%);
                right: 15px;
                &:hover{
                    background-color: $primaryColor;
                    transition: $transition;
                }
                &:hover::after{
                    color: $whiteColor;
                }
                &::after {
                  font-size: 16px;
                  color: $blackColor;
                }
              }
        }
    }
}

.course-item{
  height: 360px;
  width: 100%;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #c3c3c364;
  overflow: hidden;
  &:hover{
      border: 1px solid #c3c3c3d3;
      transition: $transition;
  }
  .course-item-img{
      display: flex;
      justify-content: center;
      align-items: center;
      img{
          max-height: 180px;
          width: 100%;
          object-fit: contain;
      }
  }
  .course-item-content{
      padding: 15px;
      position: relative;
      h4{
          font-size: 13px;
          font-weight: 500;
          color: $primaryColor;
          display: inline-block;
          padding: 2px 20px;
          border-radius: 35px;
          background-color: #6571e21b;
      }
      h2{
          font-size:20px;
          font-weight: 700;
          color: $blackColor;
          line-height: 26px;
      }
      .course-item-rating{
          display: flex;
          justify-content: space-between;
              i{
                  font-size: 13px;
                  padding: 0px;
                  color: rgb(243, 188, 6);
              }
              span{
                  color: $textColor;
                  font-size: 14px;
              }
      }
  }
  .course-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    .course-fee{
        font-size: 24px;
        font-weight: 700;
        color: $blackColor;
        span{
            font-size: 14px;
            color: $textColor;
            font-weight: 500;
        }
    }
    .discount-btn{
        padding: 4px 10px;
        background-color: $primaryColor;
        border: 1px solid $primaryColor;
        border-radius: 6px;
        color: $whiteColor;
        font-size: 13px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
        &:hover{
            background-color: $hoverPrimary;
        }
    }
}
}


.course-list{
    .course-list-wrapper{
      max-width: 1000px;
      margin: 40px auto;
      h6{
        font-size: 36px;
        font-weight: 600;
        line-height: 46px;
        color: $blackColor;
        margin-bottom: 40px;
      }
      h3{
        font-size: 26px;
        font-weight: 600;
        line-height: 36px;
        color: $blackColor;
        margin-bottom: 20px;
      }
    }
}