.common-feature{
    padding: 50px 0;
}

.common-feature-container{
   background-color: #e9ecf0;
   padding: 60px 0 60px 0;
   border-radius: 26px;
} 

.common-feature-wrap{
    padding: 0 40px;
    .row{
        padding-bottom: 140px;
        &:last-child{
            padding-bottom: 0px;
        }
        &:nth-child(even){
            flex-direction: row-reverse;
        }
    }
     .common-feature-img{
        display: flex;
        justify-content: center;
         img{
            max-height: 450px;
            width: auto;
            max-width: 100%;
            object-fit: contain;
            border-radius: 16px;
         }
     }
     .common-feature-text{
          h3{
            font-size: 30px;
            font-weight: 700;
            color: $blackColor;
            line-height: 42px;
          }
          p{
            font-size: 17px;
            line-height: 27px;
            color: $textColor;
          }
     }
}